@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    right: 30%;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn-custom01 {
    margin-bottom: 0.5rem;
    padding: 0;
    border-radius: 0.75rem;
}

a.btn-custom01:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate3d(0, 0.75rem, -1rem);
    transform: translate3d(0, 0.75rem, -1rem);

    border: 2px solid #000;
    border-radius: inherit;
    background: #ccc100;
    -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:after {
    font-family: "Font Awesome 5 Free";
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
    position: absolute;
    top: calc(50% - 1rem);
    left: 1.5rem;
    margin: 0;
    padding: 0;
    content: "\f0eb";
}

.btn-custom01-front {
    position: relative;
    display: block;
    padding: 1.5rem 5rem 1.5rem 5rem;

    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #000;
    border-radius: inherit;
    background: #fff100;
}

.fa-position-left {
    position: absolute;
    top: calc(50% - 0.5em);
    left: 1rem;
}

.fa-position-right {
    position: absolute;
    top: calc(50% - 0.5em);
    right: 1rem; 
}

a.btn-custom01:hover {
    -webkit-transform: translate(0, 0.25rem);
    transform: translate(0, 0.25rem);
    background: #fff100;
}

a.btn-custom01:hover:before {
    -webkit-transform: translate3d(0, 0.5rem, -1rem);
    transform: translate3d(0, 0.5rem, -1rem);
    -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:hover:after {
    content: "\f0eb";
}

a.btn-custom01:active {
    -webkit-transform: translate(0rem, 0.75rem);
    transform: translate(0rem, 0.75rem);
}

a.btn-custom01:active:before {
    -webkit-transform: translate3d(0, 0, -1rem);
    transform: translate3d(0, 0, -1rem);
    -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:active:after {
    content: "\f0eb";
}

body {
    font-family: "Avenir Next", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-family: 'Verdana', sans-serif;
    color: #333;
}

li {
    list-style: none;
}

.header {
    background-color: #ffD100;
    color: #000000;
    padding: 15px;
    text-align: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-list ul {
    list-style-type: none;
}

.header-list li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.header-list li:hover {
    text-decoration: underline;
}

.main {
    background-color: #4545458c;
    height: 600px;
    padding: 20px;
    text-align: center;
}

.test-button {
    position: relative;
    left: 10px;
    top: 10px;
    background: #6eb7ff;
}

.level-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: xx-large;
}

.box{
    padding: 2.5% 10.0%;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}


.copy-container {
    background-color: rgba(85, 83, 83, 0.199);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

.footer {
    background-color: #000000;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.footer-logo {
    font-size: 18px;
    font-weight: bold;
}

.footer-list ul {
    list-style-type: none;
}

.footer-list li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.footer-list li:hover {
    text-decoration: underline;
}
