body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #4545458c;
    margin: 0;
    padding: 0;
}

.contain {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

header{
    background-color: #ffd100;
    overflow: hidden;
    box-shadow: 0 3px 3px rgba(90, 90, 81, 0.253);
}

header a{
    display: inline-block;
    font-size: 1.3rem;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
}

.header-logo {
    font-size: 1.7em;
    font-weight: bold;
}

header a:hover{
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 10px;
}

.container {
    display: flex;
    padding: 40px;  
    margin: 0 auto;
}

main {
    background-color: #fff;
    width: 70%;
    height:100%;
    padding: 20px;
    border-radius: 8px;
}

@media (max-width: 1800px) {
    main {
        width: 1600px;
    }
}

aside {
    background-color:#b0abab;
    width: 30%;
    height:100%;
    margin: 0 20px;
    padding: 10px;
    border-radius: 8px;
}

footer {
    background-color: #b0abab;
    width: 100%;
    margin: 40px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: left;
}

h1 {
    color: #333;
}

.tab {
    /*background-color: black;*/
}

.tab:hover {
    opacity: 0.7;
}

.tab.active {
    display: block;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    z-index: 1;
    opacity: 0;
}

.checkbox1 {
    top: 38%;
    left: -32%;
}

.checkbox2 {
    top: 65%;
    left: -39%;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox .checkmark {
    position: absolute;
    top: -18px;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 50%;
}

.custom-checkbox input:checked + .checkmark {
    background-color: #2196F3;
    border: 1px solid #2196F3;
}

/*
.custom-checkbox .checkmark:after { 
    content: "\f00c";
    font-family: FontAwesome;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
}
*/

select {
    height: 40px;
    margin: 0 30px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    padding: 0 10px;
}

label {
    display: inline-block;
    width: 60px;
    margin-right: 10px;
}

p {
    font-size: 18px;
    margin-top: 20px;
}

.box-scroll {
    height: 7em;    
    overflow: auto;  
    padding:10px;
    border: solid 1px #747474; 
    background-color:#ffffff; 
    float: left;
}

.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: 0 auto;
}

.tab_item {
    width: 100%;
    height: 50px;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tab_item:hover {
    opacity: 0.75;
}

input[name="tab_item"] {
    display: none;
}

/*タブ切り替えの中身のスタイル*/
.side + .tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
.side + #tab_1:checked ~ #tab_1_content,
.side + #tab_2:checked ~ #tab_2_content,
.side + #tab_3:checked ~ #tab_3_content {
    display: block;
}

/*選択されているタブのスタイルを変える*/
.side input:checked + .tab_item {
    background-color: #eed603;
    color: #fff;
}

/* Lちか */
    #btn{ 
        width: 500px;
        height:200px;
        font-size:100px;
    }

.box {
    width : 95%;
    height : 40vh;
    overflow-y: scroll;
}

/* truthTable*/
table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 800px;
    height: 500px;
}
th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
}
input {
    width: 40px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    width: 100px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-style: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px; /* Rounded corners */
    box-shadow: 0px 4px 2px #6a756894;
    transition: background-color 0.3s ease; /* Animation for hover effect */
}
.button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#output {
    font-size: 15px;
    text-align: left;
    margin: 10px;
}

.userInput, .calculated, .result {
    width: 80px;
}

/* chatgpt */
#chat-form .title {
    font-size: 1.6rem;
}
#chat-window {
	margin:0px auto 15px;
	text-align:left;
    width: 100%;
    height: 673px;
    border: 1px solid #ccc;
    border-top: none;
    overflow-y: auto;
    padding: 20px 10px;
    box-sizing:border-box;
}
#chat-history {
	white-space: pre-wrap;
    max-height: 760px;
    box-sizing:border-box;
    line-height:1.5em;
    font-size:12pt;
}
#chat-history hr {
	border-top: 1px dashed #8c8b8b;
}
#chat-input {
	background-color:#efefef;
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    outline: none;
    margin-top: 20px;
    padding: 10px;
    box-sizing:border-box;
    font-size: 16px; 
    max-height: 100%; 
}
.you {
	color:#FF6600;
	margin:0px;
	padding-top:5px;
	padding-bottom:5px;
}